# Create `Students` table

In [175]:
import numpy as np
import pandas as pd

from src.dictionaries_translation import *

In [176]:
# load datasets
datasets = {}
years = range(2016, 2024)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='utf-8', dtype = str)
    except:
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='Windows 1251', dtype = str)
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...
success
EIE 2019 Loading...
success
EIE 2020 Loading...
success
EIE 2021 Loading...
success
EIE 2022 Loading...
success
EIE 2023 Loading...
success

In [177]:
datasets[2022].columns

Index(['OUTID', 'Birth', 'SexTypeName', 'RegName', 'AREANAME', 'TERNAME',
       'RegTypeName', 'TerTypeName', 'EONAME', 'EOTypeName', 'EORegName',
       'EOAreaName', 'EOTerName', 'EOParent', 'Test', 'TestDate', 'TestStatus',
       'Block1', 'Block1Ball100', 'Block1Ball', 'Block2', 'Block2Ball100',
       'Block2Ball', 'Block3', 'Block3Ball100', 'Block3Ball', 'PTRegName',
       'PTAreaName', 'PTTerName'],
      dtype='object')

In [178]:
datasets[2022].TestStatus.unique()

array(['Зараховано', 'Не з’явився', 'Анульовано'], dtype=object)

In [179]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]
    dataset['year'] = year

In [180]:
for year, dataset in datasets.items():
    print(year,":",[col for col in dataset.columns])

2016 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'frtest', 'frteststatus', 'frball100', 'frptname', 'frptregname', 'frptareaname', 'frpttername', 'deutest', 'deuteststatus', 'deuball100', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'sptest', 'spteststatus', 'spball100', 'spptname', 'spptregname', 'spptareaname', 'sppttername', 'rustest', 'rusteststatus', 'rusball100', 'rusptname', 'rusptregname', 'rusptareaname', 'ruspttername', 'year']
2017 : ['outid', 'stid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'classprofilename', 'classlangname', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physball12', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemball12', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioball12', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoball12', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engball12', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fratest', 'frateststatus', 'fraball100', 'fraball12', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deutest', 'deuteststatus', 'deuball100', 'deuball12', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spatest', 'spateststatus', 'spaball100', 'spaball12', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'rustest', 'rusteststatus', 'rusball100', 'rusball12', 'rusptname', 'rusptregname', 'rusptareaname', 'ruspttername', 'year']
2018 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'classprofilename', 'classlangname', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrball', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histball', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathball', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physball12', 'physball', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemball12', 'chemball', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioball12', 'bioball', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoball12', 'geoball', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engball12', 'engdpalevel', 'engball', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fratest', 'frateststatus', 'fraball100', 'fraball12', 'fradpalevel', 'fraball', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deutest', 'deuteststatus', 'deuball100', 'deuball12', 'deudpalevel', 'deuball', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spatest', 'spateststatus', 'spaball100', 'spaball12', 'spadpalevel', 'spaball', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'year']
2019 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'classprofilename', 'classlangname', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrball', 'ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histball', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathball', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physball12', 'physball', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemball12', 'chemball', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioball12', 'bioball', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoball12', 'geoball', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engball12', 'engdpalevel', 'engball', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fratest', 'frateststatus', 'fraball100', 'fraball12', 'fradpalevel', 'fraball', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deutest', 'deuteststatus', 'deuball100', 'deuball12', 'deudpalevel', 'deuball', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spatest', 'spateststatus', 'spaball100', 'spaball12', 'spadpalevel', 'spaball', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'year']
2020 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'classprofilename', 'classlangname', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrball', 'ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histball', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathball', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physball12', 'physball', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemball12', 'chemball', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioball12', 'bioball', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoball12', 'geoball', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engball12', 'engdpalevel', 'engball', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fratest', 'frateststatus', 'fraball100', 'fraball12', 'fradpalevel', 'fraball', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deutest', 'deuteststatus', 'deuball100', 'deuball12', 'deudpalevel', 'deuball', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spatest', 'spateststatus', 'spaball100', 'spaball12', 'spadpalevel', 'spaball', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'year']
2021 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'classprofilename', 'classlangname', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'umltest', 'umlteststatus', 'umlball100', 'umlball12', 'umlball', 'umladaptscale', 'umlptname', 'umlptregname', 'umlptareaname', 'umlpttername', 'ukrtest', 'ukrsubtest', 'ukrteststatus', 'ukrball100', 'ukrball12', 'ukrball', 'ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histball100', 'histball12', 'histball', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathball100', 'mathball12', 'mathdpalevel', 'mathball', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'mathsttest', 'mathstlang', 'mathstteststatus', 'mathstball12', 'mathstball', 'mathstptname', 'mathstptregname', 'mathstptareaname', 'mathstpttername', 'phystest', 'physlang', 'physteststatus', 'physball100', 'physball12', 'physball', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemball100', 'chemball12', 'chemball', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioball100', 'bioball12', 'bioball', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoball100', 'geoball12', 'geoball', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engball100', 'engball12', 'engdpalevel', 'engball', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fratest', 'frateststatus', 'fraball100', 'fraball12', 'fradpalevel', 'fraball', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deutest', 'deuteststatus', 'deuball100', 'deuball12', 'deudpalevel', 'deuball', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spatest', 'spateststatus', 'spaball100', 'spaball12', 'spadpalevel', 'spaball', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'year']
2022 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'teststatus', 'block1', 'block1ball100', 'block1ball', 'block2', 'block2ball100', 'block2ball', 'block3', 'block3ball100', 'block3ball', 'ptregname', 'ptareaname', 'pttername', 'year']
2023 : ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'ukrblock', 'ukrblockstatus', 'ukrblockball100', 'ukrblockball', 'histblock', 'histblockstatus', 'histblockball100', 'histblockball', 'mathblock', 'mathblockstatus', 'mathblockball100', 'mathblockball', 'physblock', 'physblockstatus', 'physblockball100', 'physblockball', 'chemblock', 'chemblockstatus', 'chemblockball100', 'chemblockball', 'bioblock', 'bioblockstatus', 'bioblockball100', 'bioblockball', 'engblock', 'engblockstatus', 'engblockball100', 'engblockball', 'frablock', 'frablockstatus', 'frablockball100', 'frablockball', 'deublock', 'deublockstatus', 'deublockball100', 'deublockball', 'spablock', 'spablockstatus', 'spablockball100', 'spablockball', 'ptregname', 'ptareaname', 'pttername', 'year']

In [181]:
for year, dataset in datasets.items():
    print(year)
    print('Dataset Length: ', len(dataset),'  Outid unique values: ', len(dataset['outid'].unique()))

2016
Dataset Length:  268003   Outid unique values:  268003
2017
Dataset Length:  240889   Outid unique values:  240889
2018
Dataset Length:  335687   Outid unique values:  335687
2019
Dataset Length:  353813   Outid unique values:  353813
2020
Dataset Length:  379299   Outid unique values:  379299
2021
Dataset Length:  389323   Outid unique values:  389323
2022
Dataset Length:  234104   Outid unique values:  234104
2023
Dataset Length:  288935   Outid unique values:  288935

In [182]:
# check if outid is unique for all years
outid = []
for year, dataset in datasets.items():
    outid.append(dataset['outid'].unique())
outid = np.concatenate(outid)
print('Outid unique values: ', len(np.unique(outid)))
# all datasets length
print('All datasets length: ', sum([len(dataset) for dataset in datasets.values()]))

Outid unique values:  2490053
All datasets length:  2490053

In [183]:
# student related columns
student_columns = ['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename',
                   'classprofilename', 'classlangname', 'eoname','eoregname', 'eoareaname', 'eotername', 'year']

In [184]:
students_df = pd.DataFrame(columns=student_columns)

In [185]:
for year, dataset in datasets.items():
    for col in student_columns:
        if col not in dataset.columns:
            print(f"{col} not in {year} dataset")
            dataset[col] = None
    students_df = pd.concat([students_df, pd.DataFrame(dataset.loc[:, student_columns])], ignore_index=True)

students_df

classprofilename not in 2016 dataset
classlangname not in 2016 dataset
classprofilename not in 2022 dataset
classlangname not in 2022 dataset
classprofilename not in 2023 dataset
classlangname not in 2023 dataset

,outid,birth,sextypename,regname,areaname,tername,regtypename,classprofilename,classlangname,eoname,eoregname,eoareaname,eotername,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",Запорізька область,Мелітопольський район,с.Терпіння,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,Хмельницька область,Красилівський район,м.Красилів,2016
2,fbd0e280-4b77-4f34-942d-00bc850c2992,1995,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2016
3,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,Чернівецька область,м.Чернівці,Шевченківський район міста,2016
4,52a40c74-374e-4744-bd6f-938ab7a4a641,1997,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,"Учень (слухач, студент) професійно-технічного,...",None,None,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490048,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Донецька область,Волноваський район,смт Велика Новосілка,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,Донецька область,Волноваський район,смт Велика Новосілка,2023
2490049,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,чоловіча,Волинська область,Ковельський район,м.Ковель,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2023
2490050,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Львівська область,м.Львів,Сихівський район міста,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,Львівська область,м.Львів,Сихівський район міста,2023
2490051,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Харківська область,Лозівський район,м.Лозова,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,Харківська область,Лозівський район,м.Лозова,2023
2490052,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Київська область,Бучанський район,м.Ірпінь,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,Київська область,Бучанський район,м.Ірпінь,2023

In EIE 2016 and both NMT tests(2022, 2023) - we do not have 'classprofilename', 'classlangname' columns. So we fill them with 'None' values.

In [186]:
students_df.drop_duplicates(inplace=True)

students_df.dropna(subset=students_df.columns.difference(['year']), 
                      how = 'all', inplace=True)
students_df.reset_index(drop=True, inplace=True)
students_df

,outid,birth,sextypename,regname,areaname,tername,regtypename,classprofilename,classlangname,eoname,eoregname,eoareaname,eotername,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",Запорізька область,Мелітопольський район,с.Терпіння,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,Хмельницька область,Красилівський район,м.Красилів,2016
2,fbd0e280-4b77-4f34-942d-00bc850c2992,1995,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2016
3,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,Чернівецька область,м.Чернівці,Шевченківський район міста,2016
4,52a40c74-374e-4744-bd6f-938ab7a4a641,1997,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,"Учень (слухач, студент) професійно-технічного,...",None,None,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490048,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Донецька область,Волноваський район,смт Велика Новосілка,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,Донецька область,Волноваський район,смт Велика Новосілка,2023
2490049,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,чоловіча,Волинська область,Ковельський район,м.Ковель,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2023
2490050,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Львівська область,м.Львів,Сихівський район міста,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,Львівська область,м.Львів,Сихівський район міста,2023
2490051,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Харківська область,Лозівський район,м.Лозова,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,Харківська область,Лозівський район,м.Лозова,2023
2490052,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Київська область,Бучанський район,м.Ірпінь,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,Київська область,Бучанський район,м.Ірпінь,2023

In [187]:
# check whether there are duplicates by outid
students_df[students_df.duplicated(subset=['outid'], keep=False)]

Empty DataFrame
Columns: [outid, birth, sextypename, regname, areaname, tername, regtypename, classprofilename, classlangname, eoname, eoregname, eoareaname, eotername, year]
Index: []

## Added location column id

In [188]:
# load location dictionary
locations = pd.read_csv('./matching_data/locations.csv', encoding='utf-8', dtype=str)
locations

,regname,areaname,tername,KOATUU_2020,KATOTTG_2023,category,region_name
0,Запорізька область,Мелітопольський район,с.Терпіння,2323085101,UA23080270010078454,village,Zaporizka
1,Хмельницька область,Красилівський район,м.Красилів,6822710100,UA68040210010032567,town,Khmelnytska
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1223881501,UA12140170040016918,village,Dnipropetrovska
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7310100000,UA73060610010033137,town,Chernivetska
4,Миколаївська область,Врадіївський район,с.Кумарі,4822383001,UA48080050190079797,village,Mykolaivska
...,...,...,...,...,...,...,...
29108,США,м.Детройт,м.Детройт,0026010000,OC26010000000000000,abroad,United States of America
29109,Велика Британія,м.Абериствіт,м.Абериствіт,0008030000,OC08030000000000000,abroad,United Kingdom
29110,США,м.Нью-Йорк,м.Нью-Йорк,0026020000,OC26020000000000000,abroad,United States of America
29111,США,м.Х'юстон,м.Х'юстон,0026040000,OC26040000000000000,abroad,United States of America
29112,Канада,м.Монктон,м.Монктон,0013020000,OC13020000000000000,abroad,Canada

In [189]:
# check whether there are duplicates
locations[locations.duplicated(subset=['regname', 'areaname', 'tername'], keep=False)]

Empty DataFrame
Columns: [regname, areaname, tername, KOATUU_2020, KATOTTG_2023, category, region_name]
Index: []

In [190]:
# add location codifier
students_loc_df = students_df.merge(locations[['regname', 'areaname', 'tername', 'KOATUU_2020', 'KATOTTG_2023']], on=['regname', 'areaname', 'tername'], how='left')

students_loc_df

,outid,birth,sextypename,regname,areaname,tername,regtypename,classprofilename,classlangname,eoname,eoregname,eoareaname,eotername,year,KOATUU_2020,KATOTTG_2023
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",Запорізька область,Мелітопольський район,с.Терпіння,2016,2323085101,UA23080270010078454
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,Хмельницька область,Красилівський район,м.Красилів,2016,6822710100,UA68040210010032567
2,fbd0e280-4b77-4f34-942d-00bc850c2992,1995,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2016,1223881501,UA12140170040016918
3,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,Чернівецька область,м.Чернівці,Шевченківський район міста,2016,7310100000,UA73060610010033137
4,52a40c74-374e-4744-bd6f-938ab7a4a641,1997,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,"Учень (слухач, студент) професійно-технічного,...",None,None,NaN,NaN,NaN,NaN,2016,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490048,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Донецька область,Волноваський район,смт Велика Новосілка,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,Донецька область,Волноваський район,смт Велика Новосілка,2023,1421255100,UA14040010010027148
2490049,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,чоловіча,Волинська область,Ковельський район,м.Ковель,Випускник минулих років,None,None,NaN,NaN,NaN,NaN,2023,0710400000,UA07060190010068509
2490050,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Львівська область,м.Львів,Сихівський район міста,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,Львівська область,м.Львів,Сихівський район міста,2023,4610136800,UA46060250010457177
2490051,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Харківська область,Лозівський район,м.Лозова,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,Харківська область,Лозівський район,м.Лозова,2023,6311000000,UA63100050010081626
2490052,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Київська область,Бучанський район,м.Ірпінь,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,Київська область,Бучанський район,м.Ірпінь,2023,3210900000,UA32080150010049888

In [191]:
students_loc_df[students_loc_df.KOATUU_2020.isna()]

,outid,birth,sextypename,regname,areaname,tername,regtypename,classprofilename,classlangname,eoname,eoregname,eoareaname,eotername,year,KOATUU_2020,KATOTTG_2023
144704,3b07c9d4-067c-47fa-8cf4-8e2097ade009,1999,чоловіча,Дніпропетровська область,Дніпропетровська область,Петропавлівський район,"Учень (слухач, студент) професійно-технічного,...",None,None,NaN,NaN,NaN,NaN,2016,NaN,NaN

In [192]:
# it is problem row, so we will drop it
students_loc_df.dropna(subset=['KOATUU_2020'], inplace=True)

In [193]:
# drop names
students_loc_df = students_loc_df[['outid',  'birth', 'sextypename', 'regtypename', 'classprofilename', 'classlangname', 'eoname', 
                                   'KOATUU_2020', 'KATOTTG_2023', 'eoregname', 'eoareaname', 'eotername', 'year']].copy()
students_loc_df

,outid,birth,sextypename,regtypename,classprofilename,classlangname,eoname,KOATUU_2020,KATOTTG_2023,eoregname,eoareaname,eotername,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",2323085101,UA23080270010078454,Запорізька область,Мелітопольський район,с.Терпіння,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,6822710100,UA68040210010032567,Хмельницька область,Красилівський район,м.Красилів,2016
2,fbd0e280-4b77-4f34-942d-00bc850c2992,1995,жіноча,Випускник минулих років,None,None,NaN,1223881501,UA12140170040016918,NaN,NaN,NaN,2016
3,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,7310100000,UA73060610010033137,Чернівецька область,м.Чернівці,Шевченківський район міста,2016
4,52a40c74-374e-4744-bd6f-938ab7a4a641,1997,чоловіча,"Учень (слухач, студент) професійно-технічного,...",None,None,NaN,4822383001,UA48080050190079797,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490048,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,1421255100,UA14040010010027148,Донецька область,Волноваський район,смт Велика Новосілка,2023
2490049,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,чоловіча,Випускник минулих років,None,None,NaN,0710400000,UA07060190010068509,NaN,NaN,NaN,2023
2490050,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,4610136800,UA46060250010457177,Львівська область,м.Львів,Сихівський район міста,2023
2490051,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,6311000000,UA63100050010081626,Харківська область,Лозівський район,м.Лозова,2023
2490052,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,3210900000,UA32080150010049888,Київська область,Бучанський район,м.Ірпінь,2023

In [194]:
students_loc_df[students_loc_df.eoname.notna()]

,outid,birth,sextypename,regtypename,classprofilename,classlangname,eoname,KOATUU_2020,KATOTTG_2023,eoregname,eoareaname,eotername,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",2323085101,UA23080270010078454,Запорізька область,Мелітопольський район,с.Терпіння,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,6822710100,UA68040210010032567,Хмельницька область,Красилівський район,м.Красилів,2016
3,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,7310100000,UA73060610010033137,Чернівецька область,м.Чернівці,Шевченківський район міста,2016
5,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Загальноосвітня школа I-III ступенів № 6 Дружк...,1411700000,UA14120030010055241,Донецька область,Донецька область,м.Дружківка,2016
6,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Тернопільська спеціалізована школа І-ІІІ ступе...,6110100000,UA61040490010069060,Тернопільська область,Тернопільська область,м.Тернопіль,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490047,98ee46c3-abe4-4bab-880e-0e7ceef29348,2005,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Навчально-виховний комплекс №167 з поглибленим...,8036600000,UA80000000000479391,м.Київ,м.Київ,Дніпровський район міста,2023
2490048,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,1421255100,UA14040010010027148,Донецька область,Волноваський район,смт Велика Новосілка,2023
2490050,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,4610136800,UA46060250010457177,Львівська область,м.Львів,Сихівський район міста,2023
2490051,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,6311000000,UA63100050010081626,Харківська область,Лозівський район,м.Лозова,2023
2490052,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,3210900000,UA32080150010049888,Київська область,Бучанський район,м.Ірпінь,2023

## Added school column id

**Note:** not all participants have school id, because if they graduated from schools before we will not have this information.

In [195]:
# separate dataset to with schools and without
students_loc_df_with_schools = students_loc_df[students_loc_df.eoname.notna()].copy()
students_loc_df_without_schools = students_loc_df[students_loc_df.eoname.isna()].copy()

print('With schools: ', len(students_loc_df_with_schools), '\nWithout schools: ', len(students_loc_df_without_schools))

With schools:  2122303
Without schools:  367749

#### School KOATUU codes

In [196]:
location_school = locations.rename(columns={'KOATUU_2020':'KOATUU_2020_school', 'KATOTTG_2023':'KATOTTG_2023_school', 'regname':'eoregname', 'areaname':'eoareaname', 'tername':'eotername'})
location_school.head()

,eoregname,eoareaname,eotername,KOATUU_2020_school,KATOTTG_2023_school,category,region_name
0,Запорізька область,Мелітопольський район,с.Терпіння,2323085101,UA23080270010078454,village,Zaporizka
1,Хмельницька область,Красилівський район,м.Красилів,6822710100,UA68040210010032567,town,Khmelnytska
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1223881501,UA12140170040016918,village,Dnipropetrovska
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7310100000,UA73060610010033137,town,Chernivetska
4,Миколаївська область,Врадіївський район,с.Кумарі,4822383001,UA48080050190079797,village,Mykolaivska

In [197]:
# check whether there are duplicates
location_school[location_school.duplicated(subset=['eoregname', 'eoareaname', 'eotername'], keep=False)]

Empty DataFrame
Columns: [eoregname, eoareaname, eotername, KOATUU_2020_school, KATOTTG_2023_school, category, region_name]
Index: []

In [198]:
students_loc_df_with_schools_loc = students_loc_df_with_schools.merge(
    location_school[['eoregname', 'eoareaname', 'eotername', 'KOATUU_2020_school', 'KATOTTG_2023_school']], 
    on=['eoregname', 'eoareaname', 'eotername'], 
    how='left'
)
students_loc_df_with_schools_loc

,outid,birth,sextypename,regtypename,classprofilename,classlangname,eoname,KOATUU_2020,KATOTTG_2023,eoregname,eoareaname,eotername,year,KOATUU_2020_school,KATOTTG_2023_school
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",2323085101,UA23080270010078454,Запорізька область,Мелітопольський район,с.Терпіння,2016,2323085101,UA23080270010078454
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,6822710100,UA68040210010032567,Хмельницька область,Красилівський район,м.Красилів,2016,6822710100,UA68040210010032567
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,7310100000,UA73060610010033137,Чернівецька область,м.Чернівці,Шевченківський район міста,2016,7310100000,UA73060610010033137
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Загальноосвітня школа I-III ступенів № 6 Дружк...,1411700000,UA14120030010055241,Донецька область,Донецька область,м.Дружківка,2016,1411700000,UA14120030010055241
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Тернопільська спеціалізована школа І-ІІІ ступе...,6110100000,UA61040490010069060,Тернопільська область,Тернопільська область,м.Тернопіль,2016,6110100000,UA61040490010069060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122298,98ee46c3-abe4-4bab-880e-0e7ceef29348,2005,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Навчально-виховний комплекс №167 з поглибленим...,8036600000,UA80000000000479391,м.Київ,м.Київ,Дніпровський район міста,2023,8036600000,UA80000000000479391
2122299,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,1421255100,UA14040010010027148,Донецька область,Волноваський район,смт Велика Новосілка,2023,1421255100,UA14040010010027148
2122300,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,4610136800,UA46060250010457177,Львівська область,м.Львів,Сихівський район міста,2023,4610136800,UA46060250010457177
2122301,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,6311000000,UA63100050010081626,Харківська область,Лозівський район,м.Лозова,2023,6311000000,UA63100050010081626
2122302,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,3210900000,UA32080150010049888,Київська область,Бучанський район,м.Ірпінь,2023,3210900000,UA32080150010049888

In [199]:
students_loc_df_with_schools_loc[students_loc_df_with_schools_loc.KATOTTG_2023_school.isna()]

,outid,birth,sextypename,regtypename,classprofilename,classlangname,eoname,KOATUU_2020,KATOTTG_2023,eoregname,eoareaname,eotername,year,KOATUU_2020_school,KATOTTG_2023_school
28999,39e01292-ae14-4ee5-a27f-a55fd2c72952,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883201,UA46120110270041867,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
99255,106e21b4-285d-4e9d-bc09-844c89ba1fd7,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883201,UA46120110270041867,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
100232,e84a0dca-f2c0-44c9-8dcc-99302b687da2,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883203,UA46120110580099609,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
123586,b2248dcf-06d2-4686-a4f3-f1e26c2cc855,1998,жіноча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624880201,UA46120110030014377,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
161138,f57b22c9-cbef-42fd-8729-bda122857e71,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883203,UA46120110580099609,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
183789,9508aabb-33a9-4e18-8666-16def1c5e8de,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883203,UA46120110580099609,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
188801,80be0e6b-2ae1-4cf3-89cb-e5cc903f1cc5,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624880202,UA46120110250037736,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN
198778,5b5e05a3-76cd-4160-8a2f-7513bdbfe5dc,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Лучицький навчально-виховний комплекс ""Загальн...",4624883203,UA46120110580099609,Львівська область,Львівська область,Сокальський район,2016,NaN,NaN

In [200]:
# set the corresponding KOATUU
to_set = students_loc_df_with_schools_loc[students_loc_df_with_schools_loc.KATOTTG_2023_school.isna()].outid.unique()
for id in to_set:
    students_loc_df_with_schools_loc.loc[students_loc_df_with_schools_loc.outid == id, 'KOATUU_2020_school'] = '4624883201'
    students_loc_df_with_schools_loc.loc[students_loc_df_with_schools_loc.outid == id, 'KATOTTG_2023_school'] = 'UA46120110270041867'

In [201]:
schools_df = pd.read_csv('./matching_data/schools_edrpou.csv', encoding='utf-8', dtype=str)
schools_df

,eoname,eotypename,KOATUU_2020,KATOTTG_2023,year,EDRPOU
0,"Вiдокремлений структурний пiдроздiл ""Краматорс...",заклад фахової передвищої освіти,0510100000,UA05020030010063857,2023,04601943
1,"ВСП ""Технологічно-промисловий фаховий коледж В...",заклад фахової передвищої освіти,0510100000,UA05020030010063857,2022,00419667
2,Вище професійне училище №11 м. Вінниці,вище професійне училище,0510100000,UA05020030010063857,2018,03065891
3,Вище професійне училище №11 м. Вінниці,вище професійне училище,0510100000,UA05020030010063857,2019,03065891
4,Вище професійне училище №11 м. Вінниці,вище професійне училище,0510100000,UA05020030010063857,2020,03065891
...,...,...,...,...,...,...
82608,Школа №95 І-ІІІ ступенів Шевченківського район...,середня загальноосвітня школа,8039100000,UA80000000001078669,2017,26125905
82609,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,середня загальноосвітня школа,8039100000,UA80000000001078669,2020,26125940
82610,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,середня загальноосвітня школа,8039100000,UA80000000001078669,2021,26125940
82611,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,середня загальноосвітня школа,8039100000,UA80000000001078669,2022,26125940
82612,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,середня загальноосвітня школа,8039100000,UA80000000001078669,2023,26125940

In [202]:
schools_df[schools_df.duplicated(subset=['eoname', 'year', 'KATOTTG_2023'], keep=False)]

Empty DataFrame
Columns: [eoname, eotypename, KOATUU_2020, KATOTTG_2023, year, EDRPOU]
Index: []

In [203]:
schools_df = schools_df[['eoname', 'EDRPOU', 'year', 'KATOTTG_2023']]
# schools_df = schools_df.drop_duplicates(subset=['eoname', 'KOATUU_2020', 'KATOTTG_2023','EDRPOU', 'year'], keep='first')
schools_df

,eoname,EDRPOU,year,KATOTTG_2023
0,"Вiдокремлений структурний пiдроздiл ""Краматорс...",04601943,2023,UA05020030010063857
1,"ВСП ""Технологічно-промисловий фаховий коледж В...",00419667,2022,UA05020030010063857
2,Вище професійне училище №11 м. Вінниці,03065891,2018,UA05020030010063857
3,Вище професійне училище №11 м. Вінниці,03065891,2019,UA05020030010063857
4,Вище професійне училище №11 м. Вінниці,03065891,2020,UA05020030010063857
...,...,...,...,...
82608,Школа №95 І-ІІІ ступенів Шевченківського район...,26125905,2017,UA80000000001078669
82609,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,26125940,2020,UA80000000001078669
82610,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,26125940,2021,UA80000000001078669
82611,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,26125940,2022,UA80000000001078669
82612,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,26125940,2023,UA80000000001078669

In [204]:
schools_df = schools_df.rename(columns={'KATOTTG_2023':'KATOTTG_2023_school'})

In [205]:
students_loc_df_with_schools_loc['year'] = students_loc_df_with_schools_loc.year.astype(int)
schools_df['year'] = schools_df.year.astype(int)

In [206]:
# add edrpou to students
students_loc_df_with_schools_loc = students_loc_df_with_schools_loc.merge(
    schools_df, 
    on=['eoname','KATOTTG_2023_school', 'year'], 
    how='left'
)

students_loc_df_with_schools_loc

,outid,birth,sextypename,regtypename,classprofilename,classlangname,eoname,KOATUU_2020,KATOTTG_2023,eoregname,eoareaname,eotername,year,KOATUU_2020_school,KATOTTG_2023_school,EDRPOU
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",2323085101,UA23080270010078454,Запорізька область,Мелітопольський район,с.Терпіння,2016,2323085101,UA23080270010078454,26373098
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Красилівська загальноосвітня школа I-III ступе...,6822710100,UA68040210010032567,Хмельницька область,Красилівський район,м.Красилів,2016,6822710100,UA68040210010032567,25880114
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Чернівецька спеціалізована школа І-ІІІ ступені...,7310100000,UA73060610010033137,Чернівецька область,м.Чернівці,Шевченківський район міста,2016,7310100000,UA73060610010033137,21431046
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,жіноча,Випускник загальноосвітнього навчального закла...,None,None,Загальноосвітня школа I-III ступенів № 6 Дружк...,1411700000,UA14120030010055241,Донецька область,Донецька область,м.Дружківка,2016,1411700000,UA14120030010055241,25705061
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,чоловіча,Випускник загальноосвітнього навчального закла...,None,None,Тернопільська спеціалізована школа І-ІІІ ступе...,6110100000,UA61040490010069060,Тернопільська область,Тернопільська область,м.Тернопіль,2016,6110100000,UA61040490010069060,14040173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122298,98ee46c3-abe4-4bab-880e-0e7ceef29348,2005,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Навчально-виховний комплекс №167 з поглибленим...,8036600000,UA80000000000479391,м.Київ,м.Київ,Дніпровський район міста,2023,8036600000,UA80000000000479391,22875911
2122299,98e83726-5473-40e0-a7c3-30f29f2bb0ec,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Великоновосілківський заклад загальної середнь...,1421255100,UA14040010010027148,Донецька область,Волноваський район,смт Велика Новосілка,2023,1421255100,UA14040010010027148,21978069
2122300,98e883cb-d2b7-4bc7-b86e-3ac16b36a0ff,2006,жіноча,Випускник закладу загальної середньої освіти 2...,None,None,Середня загальноосвітня школа №13,4610136800,UA46060250010457177,Львівська область,м.Львів,Сихівський район міста,2023,4610136800,UA46060250010457177,22336508
2122301,9909aefa-b1e9-4eef-a911-25fae0b9f70d,2004,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Лозівський центр професійної освіти Харківсько...,6311000000,UA63100050010081626,Харківська область,Лозівський район,м.Лозова,2023,6311000000,UA63100050010081626,02547949
2122302,98f9d13e-9a8b-4443-aaa1-da2f9337af1f,2006,чоловіча,Випускник закладу загальної середньої освіти 2...,None,None,Ірпінський ліцей інноваційних технологій Ірпін...,3210900000,UA32080150010049888,Київська область,Бучанський район,м.Ірпінь,2023,3210900000,UA32080150010049888,41385730

In [207]:
students_loc_df_with_schools_loc[students_loc_df_with_schools_loc.EDRPOU.isna()]

Empty DataFrame
Columns: [outid, birth, sextypename, regtypename, classprofilename, classlangname, eoname, KOATUU_2020, KATOTTG_2023, eoregname, eoareaname, eotername, year, KOATUU_2020_school, KATOTTG_2023_school, EDRPOU]
Index: []

In [208]:
students_loc_df_with_schools_loc[students_loc_df_with_schools_loc.duplicated(subset=['outid','EDRPOU'], keep=False)]

Empty DataFrame
Columns: [outid, birth, sextypename, regtypename, classprofilename, classlangname, eoname, KOATUU_2020, KATOTTG_2023, eoregname, eoareaname, eotername, year, KOATUU_2020_school, KATOTTG_2023_school, EDRPOU]
Index: []

In [209]:
students_loc_df_with_schools_loc = students_loc_df_with_schools_loc[['outid', 'birth', 'sextypename', 'classprofilename', 'regtypename',
                                                             'classlangname', 'KOATUU_2020', 'KATOTTG_2023', 'EDRPOU', 'year']].reset_index(drop=True)
print('With schools: ', len(students_loc_df_with_schools_loc))
students_loc_df_with_schools_loc.head()

With schools:  2122303

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KOATUU_2020,KATOTTG_2023,EDRPOU,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,2323085101,UA23080270010078454,26373098,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,None,Випускник загальноосвітнього навчального закла...,None,6822710100,UA68040210010032567,25880114,2016
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,7310100000,UA73060610010033137,21431046,2016
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,жіноча,None,Випускник загальноосвітнього навчального закла...,None,1411700000,UA14120030010055241,25705061,2016
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,6110100000,UA61040490010069060,14040173,2016

In [210]:
students_loc_df_with_schools_loc[students_loc_df_with_schools_loc.EDRPOU.isna()]

Empty DataFrame
Columns: [outid, birth, sextypename, classprofilename, regtypename, classlangname, KOATUU_2020, KATOTTG_2023, EDRPOU, year]
Index: []

In [211]:
students_loc_df_without_schools = students_loc_df_without_schools[['outid', 'birth', 'sextypename', 'classprofilename', 'regtypename',
                                                             'classlangname', 'KOATUU_2020', 'KATOTTG_2023', 'year']].reset_index(drop=True)
students_loc_df_without_schools['EDRPOU'] = None
print('Without schools: ', len(students_loc_df_without_schools))
students_loc_df_without_schools.head()

Without schools:  367749

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KOATUU_2020,KATOTTG_2023,year,EDRPOU
0,fbd0e280-4b77-4f34-942d-00bc850c2992,1995,жіноча,None,Випускник минулих років,None,1223881501,UA12140170040016918,2016,None
1,52a40c74-374e-4744-bd6f-938ab7a4a641,1997,чоловіча,None,"Учень (слухач, студент) професійно-технічного,...",None,4822383001,UA48080050190079797,2016,None
2,debd6e87-f3a1-483c-bb02-10b56d78ea0d,1995,чоловіча,None,Випускник минулих років,None,1211600000,UA12080050010010114,2016,None
3,6934408b-ff44-495c-9151-8c8c6313a0fa,1995,жіноча,None,Випускник минулих років,None,1210136900,UA12020010010512802,2016,None
4,2b2a1159-caed-48b4-9828-ce2307ff90fa,1997,чоловіча,None,Випускник минулих років,None,1210137800,UA12020010010757287,2016,None

In [212]:
# merge datasets
students_loc_df = pd.concat([students_loc_df_with_schools_loc, students_loc_df_without_schools], ignore_index=True)
print('All students: ', len(students_loc_df))
students_loc_df.head()

All students:  2490052

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KOATUU_2020,KATOTTG_2023,EDRPOU,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,2323085101,UA23080270010078454,26373098,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,жіноча,None,Випускник загальноосвітнього навчального закла...,None,6822710100,UA68040210010032567,25880114,2016
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,7310100000,UA73060610010033137,21431046,2016
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,жіноча,None,Випускник загальноосвітнього навчального закла...,None,1411700000,UA14120030010055241,25705061,2016
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,чоловіча,None,Випускник загальноосвітнього навчального закла...,None,6110100000,UA61040490010069060,14040173,2016

# Translation

In [213]:
students_loc_df["sextypename"].replace(sex_type_dict,  inplace=True)
students_loc_df["classprofilename"].replace(class_profile_dict,  inplace=True)
students_loc_df["classlangname"].replace(lang_dict,  inplace=True)

In [214]:
students_loc_df.rename(columns={"EDRPOU": "EDRPOU_school"}, inplace=True)

In [215]:
students_loc_df[students_loc_df.year == 2023].regtypename.unique()

array(['Випускник закладу загальної середньої освіти 2023 року',
       'Установа виконання покарань', 'Випускник минулих років'],
      dtype=object)

In [216]:
translation_map = {
  'Випускник загальноосвітнього навчального закладу 2016 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник загальноосвітнього навчального закладу 2017 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник закладу загальної середньої освіти 2018 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник закладу загальної середньої освіти 2019 року': 'A graduate of an Ukrainian school of the current year',
  'випускник закладу загальної середньої освіти 2020 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник загальноосвітнього навчального закладу 2021 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник закладу загальної середньої освіти 2022 року': 'A graduate of an Ukrainian school of the current year',
  'Випускник закладу загальної середньої освіти 2023 року': 'A graduate of an Ukrainian school of the current year',
  'Учень (слухач, студент) професійно-технічного, вищого навчального закладу':'graduate of a vocational school',
  'Учень (слухач) закладу професійної (професійно-технічної) освіти':'graduate of a vocational school',
  'Установа виконання покарань': "The institution of punishment",
  'Випускник минулих років': "A graduate of previous years",
  'Випускник, який здобуде в 2016 році повну загальну середню освіту в навчальному закладі іншої держави':'A graduate of a foreign school',
  'Випускник, який здобуде в 2017 році повну загальну середню освіту в навчальному закладі іншої держави':'A graduate of a foreign school',
  'Випускник, який здобуде в 2018 році повну загальну середню освіту в навчальному закладі іншої держави':'A graduate of a foreign school',
  'Випускник, який здобуде в 2019 році повну загальну середню освіту в закордонному закладі освіти':'A graduate of a foreign school',
  'Випускник, який здобуде в 2020 році повну загальну середню освіту в закордонному закладі освіти':'A graduate of a foreign school',
  'Випускник, який здобуде в 2021 році повну загальну середню освіту в навчальному закладі іншої держави':'A graduate of a foreign school',
  'Випускник, який здобуде в 2022 році повну загальну середню освіту в закордонному закладі освіти':'A graduate of a foreign school',
  'Студент закладу вищої освіти':'A student of a higher education institution',
  'Студент закладу вищої/фахової передвищої освіти':'Student of a higher/vocational pre-higher education institution'
}

students_loc_df.loc[:, 'regtypename'] = students_loc_df['regtypename'].map(translation_map)
students_loc_df.head()

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KOATUU_2020,KATOTTG_2023,EDRPOU_school,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,None,A graduate of an Ukrainian school of the curre...,None,2323085101,UA23080270010078454,26373098,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,None,A graduate of an Ukrainian school of the curre...,None,6822710100,UA68040210010032567,25880114,2016
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,None,A graduate of an Ukrainian school of the curre...,None,7310100000,UA73060610010033137,21431046,2016
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,None,A graduate of an Ukrainian school of the curre...,None,1411700000,UA14120030010055241,25705061,2016
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,None,A graduate of an Ukrainian school of the curre...,None,6110100000,UA61040490010069060,14040173,2016

In [217]:
students_loc_df

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KOATUU_2020,KATOTTG_2023,EDRPOU_school,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,None,A graduate of an Ukrainian school of the curre...,None,2323085101,UA23080270010078454,26373098,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,None,A graduate of an Ukrainian school of the curre...,None,6822710100,UA68040210010032567,25880114,2016
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,None,A graduate of an Ukrainian school of the curre...,None,7310100000,UA73060610010033137,21431046,2016
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,None,A graduate of an Ukrainian school of the curre...,None,1411700000,UA14120030010055241,25705061,2016
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,None,A graduate of an Ukrainian school of the curre...,None,6110100000,UA61040490010069060,14040173,2016
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,None,A graduate of previous years,None,5910400000,UA59020070010054283,None,2023
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,None,A graduate of previous years,None,3221810100,UA32100010010059200,None,2023
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,None,A graduate of previous years,None,5625410100,UA56080170010061049,None,2023
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,None,A graduate of previous years,None,5110137500,UA51100270010320268,None,2023
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,None,A graduate of previous years,None,0710400000,UA07060190010068509,None,2023

In [218]:
# update all nan values to None
students_loc_df = students_loc_df.where(pd.notnull(students_loc_df), '')

In [219]:
set(schools_df.EDRPOU) - set(students_loc_df.EDRPOU_school)

set()

In [220]:
set(students_loc_df.EDRPOU_school) - set(schools_df.EDRPOU)

{''}

## Save table to csv file

In [221]:
students_loc_df= students_loc_df.drop(columns=['KOATUU_2020'])
students_loc_df

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KATOTTG_2023,EDRPOU_school,year
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,,A graduate of an Ukrainian school of the curre...,,UA23080270010078454,26373098,2016
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,,A graduate of an Ukrainian school of the curre...,,UA68040210010032567,25880114,2016
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,,A graduate of an Ukrainian school of the curre...,,UA73060610010033137,21431046,2016
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,,A graduate of an Ukrainian school of the curre...,,UA14120030010055241,25705061,2016
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,,A graduate of an Ukrainian school of the curre...,,UA61040490010069060,14040173,2016
...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,,A graduate of previous years,,UA59020070010054283,,2023
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,,A graduate of previous years,,UA32100010010059200,,2023
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,,A graduate of previous years,,UA56080170010061049,,2023
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,,A graduate of previous years,,UA51100270010320268,,2023
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,,A graduate of previous years,,UA07060190010068509,,2023

In [222]:
students_loc_df[students_loc_df.KATOTTG_2023.isna()]

Empty DataFrame
Columns: [outid, birth, sextypename, classprofilename, regtypename, classlangname, KATOTTG_2023, EDRPOU_school, year]
Index: []

In [223]:
# save dataframe
students_loc_df.to_csv("./final_tables/students.csv", index=False)

# Fix the issue with status of the paricipant

In [224]:
students_loc_df = pd.read_csv("./final_tables/students.csv", encoding='utf-8', dtype=str)

In [225]:
schools = pd.read_csv('./final_tables/schools_edrpou.csv', encoding='utf-8', dtype=str)
schools.rename(columns = {'EDRPOU':'EDRPOU_school'}, inplace=True)
schools

,KATOTTG_2023,EDRPOU_school,year,eotypename
0,UA05020030010063857,04601943,2023,заклад фахової передвищої освіти
1,UA05020030010063857,00419667,2022,заклад фахової передвищої освіти
2,UA05020030010063857,03065891,2018,вище професійне училище
3,UA05020030010063857,03065891,2019,вище професійне училище
4,UA05020030010063857,03065891,2020,вище професійне училище
...,...,...,...,...
82508,UA80000000001078669,26125905,2017,середня загальноосвітня школа
82509,UA80000000001078669,26125940,2020,середня загальноосвітня школа
82510,UA80000000001078669,26125940,2021,середня загальноосвітня школа
82511,UA80000000001078669,26125940,2022,середня загальноосвітня школа
82512,UA80000000001078669,26125940,2023,середня загальноосвітня школа

In [226]:
students_status = students_loc_df.merge(schools[['EDRPOU_school', 'year', 'eotypename']], on = ['EDRPOU_school', 'year'], how = 'left')
students_status

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KATOTTG_2023,EDRPOU_school,year,eotypename
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA23080270010078454,26373098,2016,колегіум
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA68040210010032567,25880114,2016,середня загальноосвітня школа
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA73060610010033137,21431046,2016,спеціалізована школа
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA14120030010055241,25705061,2016,середня загальноосвітня школа
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA61040490010069060,14040173,2016,спеціалізована школа
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,NaN,A graduate of previous years,NaN,UA59020070010054283,NaN,2023,NaN
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,NaN,A graduate of previous years,NaN,UA32100010010059200,NaN,2023,NaN
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,NaN,A graduate of previous years,NaN,UA56080170010061049,NaN,2023,NaN
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,NaN,A graduate of previous years,NaN,UA51100270010320268,NaN,2023,NaN
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,NaN,A graduate of previous years,NaN,UA07060190010068509,NaN,2023,NaN

In [227]:
students_status.regtypename.unique()

array(['A graduate of an Ukrainian school of the current year',
       'The institution of punishment', 'A graduate of previous years',
       'A graduate of a foreign school',
       'graduate of a vocational school',
       'A student of a higher education institution',
       'Student of a higher/vocational pre-higher education institution'],
      dtype=object)

In [228]:
students_status.eotypename.unique()

array(['колегіум', 'середня загальноосвітня школа',
       'спеціалізована школа', 'навчально-виховний комплекс',
       'вечірня (змінна) школа', 'ліцей',
       'середня загальноосвітня школа-інтернат', 'гімназія',
       'спеціалізована школа-інтернат', 'загальноосвітня санаторна школа',
       'Пенітенціарна установа',
       'спеціальна загальноосвітня школа-інтернат',
       'спеціальна загальноосвітня школа',
       'школа соціальної реабілітації',
       'вищий навчальний заклад I-II рівнів акредитації',
       "навчально-виховне об'єднання",
       'професійний ліцей відповідного профілю',
       'вище професійне училище',
       'професійно-технічне училище відповідного профілю',
       'центр професійно-технічної освіти',
       'заклад фахової передвищої освіти/ліцей',
       'вище художнє професійно-технічне училище',
       'центр професійної освіти', 'заклад вищої освіти',
       'заклад фахової передвищої освіти', 'коледж',
       'центр підготовки і перепідготовки робітничих кадрів',
       'навчально-реабілітаційний центр',
       'заклад професійної (професійно-технічної) освіти',
       'колегіум/колеж', 'мистецький ліцей', 'науковий ліцей',
       'ліцей із посиленою військово-фізичною підготовкою',
       'спортивний ліцей', 'спеціальна школа',
       'військовий (військово-морський, військово-спортивний) ліцей',
       'початкова школа', nan], dtype=object)

In [229]:
right_status = {'колегіум':'A graduate of an Ukrainian school of the current year',
                'середня загальноосвітня школа':'A graduate of an Ukrainian school of the current year',
                'спеціалізована школа':'A graduate of an Ukrainian school of the current year',
                'навчально-виховний комплекс':'A graduate of an Ukrainian school of the current year',
                'вечірня (змінна) школа':'A graduate of an Ukrainian school of the current year', 
                'ліцей':'A graduate of an Ukrainian school of the current year',
                'середня загальноосвітня школа-інтернат':'A graduate of an Ukrainian school of the current year', 
                'гімназія':'A graduate of an Ukrainian school of the current year',
                'спеціалізована школа-інтернат':'A graduate of an Ukrainian school of the current year',
                'загальноосвітня санаторна школа':'A graduate of an Ukrainian school of the current year',
                'Пенітенціарна установа':'The institution of punishment',
                'спеціальна загальноосвітня школа-інтернат':'A graduate of an Ukrainian school of the current year',
                'спеціальна загальноосвітня школа':'A graduate of an Ukrainian school of the current year',
                'школа соціальної реабілітації':'A graduate of an Ukrainian school of the current year',
                'вищий навчальний заклад I-II рівнів акредитації':'graduate of a vocational school',
                "навчально-виховне об'єднання":'A graduate of an Ukrainian school of the current year',
                'професійний ліцей відповідного профілю':'A graduate of a vocational school',
                'вище професійне училище':'graduate of a vocational school',
                'професійно-технічне училище відповідного профілю':'graduate of a vocational school',
                'центр професійно-технічної освіти':'graduate of a vocational school',
                'заклад фахової передвищої освіти/ліцей':'graduate of a vocational school',
                'вище художнє професійно-технічне училище':'graduate of a vocational school',
                'центр професійної освіти':'graduate of a vocational school',
                'заклад вищої освіти':'graduate of a vocational school',
                'заклад фахової передвищої освіти':'graduate of a vocational school',
                'коледж':'A graduate of an Ukrainian school of the current year',
                'центр підготовки і перепідготовки робітничих кадрів':'graduate of a vocational school',
                'навчально-реабілітаційний центр':'graduate of a vocational school',
                'заклад професійної (професійно-технічної) освіти':'graduate of a vocational school',
                'колегіум/колеж':'A graduate of an Ukrainian school of the current year',
                'мистецький ліцей':'A graduate of an Ukrainian school of the current year',
                'науковий ліцей':'A graduate of an Ukrainian school of the current year',
                'ліцей із посиленою військово-фізичною підготовкою':'A graduate of an Ukrainian school of the current year',
                'спортивний ліцей':'A graduate of an Ukrainian school of the current year',
                'спеціальна школа':'A graduate of an Ukrainian school of the current year',
                'військовий (військово-морський, військово-спортивний) ліцей':'A graduate of an Ukrainian school of the current year',
                'початкова школа':'A graduate of an Ukrainian school of the current year'}

students_status['status'] = students_status['eotypename']
for type, status in right_status.items():
    students_status.loc[students_status.eotypename==type, 'status'] = status

In [230]:
students_status[(students_status.regtypename == 'A graduate of previous years')&(students_status.status.notna())]

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KATOTTG_2023,EDRPOU_school,year,eotypename,status
37541,2419c6cb-0f7a-48fc-b8b1-0152ec48638b,1989,Male,NaN,A graduate of previous years,NaN,UA56060470010041018,08564400,2016,Пенітенціарна установа,The institution of punishment

In [231]:
students_status[(students_status['regtypename'] != students_status['status'])&(students_status.year != '2016')&(students_status.regtypename != 'A graduate of previous years')]

,outid,birth,sextypename,classprofilename,regtypename,classlangname,KATOTTG_2023,EDRPOU_school,year,eotypename,status
211314,34DCFE9D-F765-4E34-822F-6F9DFF0A2DBC,1999,Male,Technology,A graduate of an Ukrainian school of the curre...,Ukrainian,UA46120050010093637,02545873,2017,професійний ліцей відповідного профілю,A graduate of a vocational school
212391,D38DA677-1C0D-48D0-BF27-EDB79CE8388B,1998,Male,Technology,A graduate of an Ukrainian school of the curre...,Ukrainian,UA46120050010093637,02545873,2017,професійний ліцей відповідного профілю,A graduate of a vocational school
213278,2CF00025-C1EE-400B-9130-D1F6E48D9669,1998,Male,Technology,A graduate of an Ukrainian school of the curre...,Ukrainian,UA46120050010093637,02545873,2017,професійний ліцей відповідного профілю,A graduate of a vocational school
223148,FC9F572F-85A1-4A5D-9C06-C28AF4EE73AB,1999,Female,Technology,A graduate of an Ukrainian school of the curre...,Ukrainian,UA46120050010093637,02545873,2017,професійний ліцей відповідного профілю,A graduate of a vocational school
246845,0023CEEE-F983-4B4A-9BCB-E0A4D79A6E4C,1998,Male,Technology,A graduate of an Ukrainian school of the curre...,Ukrainian,UA46120050010093637,02545873,2017,професійний ліцей відповідного профілю,A graduate of a vocational school
...,...,...,...,...,...,...,...,...,...,...,...
2487889,9910c2c3-424e-4021-9e19-570f223829f4,2005,Female,NaN,A graduate of an Ukrainian school of the curre...,NaN,OC13030000000000000,NaN,2023,NaN,NaN
2488307,98e92844-3b94-46ac-ad16-7bba08e9a07f,2006,Female,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA12060170010378670,NaN,2023,NaN,NaN
2488639,99119c25-7141-4e4f-9a2c-04e18fbf4f23,2003,Female,NaN,A graduate of an Ukrainian school of the curre...,NaN,OC21020000000000000,NaN,2023,NaN,NaN
2489484,98e989a2-c50e-4c12-87c6-dd32d451764d,2006,Male,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA51060030010048411,NaN,2023,NaN,NaN
2489848,990fe792-e53f-414a-99e3-4d5a7ed837c2,2005,Male,NaN,A graduate of an Ukrainian school of the curre...,NaN,UA80000000000875983,NaN,2023,NaN,NaN