In [67]:
import numpy as np
import pandas as pd
import renaming_dictionaries as renam

In [24]:
# load datasets
datasets = {}
years = range(2016, 2022)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:11: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2019 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:13: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2020 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:13: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2021 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:11: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success

In [25]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]
    #add year before merging datasets
    dataset['year'] = year

In [26]:
for year, dataset in datasets.items():
    print(year, dataset.shape)

2016 (268003, 107)
2017 (240889, 120)
2018 (335687, 126)
2019 (353813, 127)
2020 (379299, 127)
2021 (389323, 148)

In [27]:
for year, dataset in datasets.items():
    print([col for col in dataset.columns if col.endswith('regname')])

['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'frptregname', 'deuptregname', 'spptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'umlptregname', 'ukrptregname', 'histptregname', 'mathptregname', 'mathstptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']

In [28]:
types = ['', 'eo', 'ukrpt', 'umlpt', 'mathpt', 'histpt', 'physpt', 'mathstptregname', 'chempt', 'biopt', 'geopt', 'engpt', 'frapt', 'frpt', 'deupt', 'spapt', 'sppt', 'ruspt']

In [54]:
locations = pd.DataFrame(columns=['regname', 'areaname', 'tername'])

In [55]:
for year, dataset in datasets.items():
    for typ in types:
        new_col = {typ+'regname': 'regname', typ+'areaname':'areaname', typ+'tername': 'tername'}
        if all(column in dataset.columns for column in new_col):
            temp_data = dataset.loc[:,new_col.keys()]
            temp_data.rename(columns=new_col, inplace=True)
            locations = pd.concat([locations, temp_data], ignore_index=True)

locations.drop_duplicates(inplace=True)
locations.reset_index(drop=True, inplace=True)
#when student doesn't take the test the corresponding location is NaN
#we drop these rows
locations.dropna(inplace=True)

# Codifier brush-up

In [37]:
code2020 = pd.read_excel('KOATUU_26112020.xls',  dtype=str)
code2020

               TE   NP                                       NU
0      0100000000  NaN  АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ
1      0110000000  NaN         МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ
2      0110100000  NaN                              СІМФЕРОПОЛЬ
3      0110130000  NaN                     РАЙОНИ М.СІМФЕРОПОЛЯ
4      0110136300    Р                              ЗАЛІЗНИЧНИЙ
...           ...  ...                                      ...
39415  8536990504    С                                  КАМИШЛИ
39416  8536990505    С                                ПИРОГОВКА
39417  8536990507    С                                ПОВОРОТНЕ
39418  8536990509    С                                 ФРОНТОВЕ
39419  8536990511    С                                 ФРУКТОВЕ

[39420 rows x 3 columns]

In [38]:
code2020['region_KOATUU'] = code2020['TE'].str[:2]
code2020['area_KOATUU'] = code2020['TE'].str[2:5]
code2020['local_KOATUU'] = code2020['TE'].str[5:]
code2020

,TE,NP,NU,region_KOATUU,area_KOATUU,local_KOATUU
0,0100000000,NaN,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,000,00000
1,0110000000,NaN,МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ,01,100,00000
2,0110100000,NaN,СІМФЕРОПОЛЬ,01,101,00000
3,0110130000,NaN,РАЙОНИ М.СІМФЕРОПОЛЯ,01,101,30000
4,0110136300,Р,ЗАЛІЗНИЧНИЙ,01,101,36300
...,...,...,...,...,...,...
39415,8536990504,С,КАМИШЛИ,85,369,90504
39416,8536990505,С,ПИРОГОВКА,85,369,90505
39417,8536990507,С,ПОВОРОТНЕ,85,369,90507
39418,8536990509,С,ФРОНТОВЕ,85,369,90509
39419,8536990511,С,ФРУКТОВЕ,85,369,90511

In [39]:
code2020['name_KOATUU'] = code2020['NU'].str.split('/').str[0].str.lower().str.capitalize()
code2020[code2020.area_KOATUU == '000'][['NU', 'region_KOATUU', 'name_KOATUU']]

,NU,region_KOATUU,name_KOATUU
0,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,Автономна республіка крим
1328,ВІННИЦЬКА ОБЛАСТЬ/М.ВІННИЦЯ,05,Вінницька область
3508,ВОЛИНСЬКА ОБЛАСТЬ/М.ЛУЦЬК,07,Волинська область
4870,ДНІПРОПЕТРОВСЬКА ОБЛАСТЬ/М.ДНІПРО,12,Дніпропетровська область
6645,ДОНЕЦЬКА ОБЛАСТЬ/М.ДОНЕЦЬК,14,Донецька область
8272,ЖИТОМИРСЬКА ОБЛАСТЬ/М.ЖИТОМИР,18,Житомирська область
10367,ЗАКАРПАТСЬКА ОБЛАСТЬ/М.УЖГОРОД,21,Закарпатська область
11303,ЗАПОРІЗЬКА ОБЛАСТЬ/М.ЗАПОРІЖЖЯ,23,Запорізька область
12483,ІВАНО-ФРАНКІВСЬКА ОБЛАСТЬ/М.ІВАНО-ФРАНКІВСЬК,26,Івано-франківська область
13716,КИЇВСЬКА ОБЛАСТЬ/М.КИЇВ,32,Київська область
15548,КІРОВОГРАДСЬКА ОБЛАСТЬ/М.КРОПИВНИЦЬКИЙ,35,Кіровоградська область
17013,ЛУГАНСЬКА ОБЛАСТЬ/М.ЛУГАНСЬК,44,Луганська область
18187,ЛЬВІВСЬКА ОБЛАСТЬ/М.ЛЬВІВ,46,Львівська область
20787,МИКОЛАЇВСЬКА ОБЛАСТЬ/М.МИКОЛАЇВ,48,Миколаївська область
21951,ОДЕСЬКА ОБЛАСТЬ/М.ОДЕСА,51,Одеська область
23588,ПОЛТАВСЬКА ОБЛАСТЬ/М.ПОЛТАВА,53,Полтавська область
25930,РІВНЕНСЬКА ОБЛАСТЬ/М.РІВНЕ,56,Рівненська область
27273,СУМСЬКА ОБЛАСТЬ/М.СУМИ,59,Сумська область
29114,ТЕРНОПІЛЬСЬКА ОБЛАСТЬ/М.ТЕРНОПІЛЬ,61,Тернопільська область
30650,ХАРКІВСЬКА ОБЛАСТЬ/М.ХАРКІВ,63,Харківська область
32823,ХЕРСОНСЬКА ОБЛАСТЬ/М.ХЕРСОН,65,Херсонська область
33798,ХМЕЛЬНИЦЬКА ОБЛАСТЬ/М.ХМЕЛЬНИЦЬКИЙ,68,Хмельницька область
35623,ЧЕРКАСЬКА ОБЛАСТЬ/М.ЧЕРКАСИ,71,Черкаська область
36952,ЧЕРНІВЕЦЬКА ОБЛАСТЬ/М.ЧЕРНІВЦІ,73,Чернівецька область
37569,ЧЕРНІГІВСЬКА ОБЛАСТЬ/М.ЧЕРНІГІВ,74,Чернігівська область
39363,М.КИЇВ,80,М.київ
39375,М.СЕВАСТОПОЛЬ,85,М.севастополь

In [40]:
code2020 = code2020[~code2020['region_KOATUU'].isin(['01', '85'])]

In [41]:
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('міста ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('райони ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('населенi ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища, ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('сільради ')]
code2020 = code2020.reset_index(drop=True)

In [42]:
code2020.NP.unique()

array([nan, 'М', 'Т', 'С', 'Щ', 'Р', 'C'], dtype=object)

In [43]:
code2020.NP = code2020.NP.str.replace('C', 'С')

In [44]:
code2020.loc[code2020['NP'] == 'М', 'name_KOATUU'] = 'м.' + code2020.loc[code2020['NP'] == 'М', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'С', 'name_KOATUU'] = 'с.' + code2020.loc[code2020['NP'] == 'С', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU'] = 'с-ще ' + code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU'] = 'смт ' + code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU']

In [50]:
set(code2020[code2020.area_KOATUU == '000'].name_KOATUU.str.lower())^set(locations.regname.str.lower())

set()

In [56]:
locations_region = locations.merge(code2020[['region_KOATUU']], left_on=locations['regname'].str.lower(), right_on=code2020['name_KOATUU'].str.lower(), how='left')
locations_region = locations_region.drop('key_0', axis=1)
locations_region.head()

,regname,areaname,tername,region_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23
1,Хмельницька область,Красилівський район,м.Красилів,68
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73
4,Миколаївська область,Врадіївський район,с.Кумарі,48

In [58]:
locations_region[['regname', 'region_KOATUU']].value_counts()

regname                    region_KOATUU
Львівська область          46               1787
Вінницька область          05               1338
Житомирська область        18               1274
Полтавська область         53               1215
Хмельницька область        68               1207
Харківська область         63               1176
Дніпропетровська область   12               1120
Рівненська область         56               1102
Волинська область          07               1079
Тернопільська область      61               1039
Київська область           32               1027
Одеська область            51                935
Чернігівська область       74                884
Івано-Франківська область  26                823
Запорізька область         23                800
Донецька область           14                754
Сумська область            59                750
Черкаська область          71                734
Закарпатська область       21                689
Кіровоградська область     35                688
Миколаївська область       48                672
Херсонська область         65                634
Чернівецька область        73                445
Луганська область          44                390
м.Київ                     80                 30
Name: count, dtype: int64

# Matching areas

In [61]:
locations_region['areaname_new'] = locations_region['areaname']
locations_region.head(25)

,regname,areaname,tername,region_KOATUU,areaname_new
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район
5,Донецька область,Донецька область,м.Дружківка,14,Донецька область
6,Тернопільська область,Тернопільська область,м.Тернопіль,61,Тернопільська область
7,Дніпропетровська область,Дніпропетровська область,м.Нікополь,12,Дніпропетровська область
8,Кіровоградська область,Новгородківський район,с.Тарасівка,35,Новгородківський район
9,Дніпропетровська область,м.Дніпропетровськ,Жовтневий район міста,12,м.Дніпропетровськ
10,Одеська область,м.Одеса,Суворовський район міста,51,м.Одеса
11,Дніпропетровська область,Дніпропетровська область,м.Павлоград,12,Дніпропетровська область
12,Львівська область,Яворівський район,смт Івано-Франкове,46,Яворівський район
13,Івано-Франківська область,Надвірнянський район,с.Лоєва (Лоївська сільрада),26,Надвірнянський район
14,Хмельницька область,Славутський район,с.Гута (Хоровецька сільрада),68,Славутський район
15,Одеська область,Кілійський район,м.Кілія,51,Кілійський район
16,Дніпропетровська область,м.Дніпропетровськ,Ленінський район міста,12,м.Дніпропетровськ
17,Харківська область,Вовчанський район,с.Пролетарське (Червоноармійська Перша сільрада),63,Вовчанський район
18,Черкаська область,Черкаська область,м.Умань,71,Черкаська область
19,Одеська область,м.Одеса,Малиновський район міста,51,м.Одеса
20,Хмельницька область,Білогірський район,смт Білогір'я,68,Білогірський район
21,Тернопільська область,Теребовлянський район,с.Бенева (Бенівська сільрада),61,Теребовлянський район
22,Тернопільська область,Теребовлянський район,м.Теребовля,61,Теребовлянський район
23,Дніпропетровська область,м.Дніпропетровськ,Красногвардійський район міста,12,м.Дніпропетровськ
24,Донецька область,Артемівський район,с.Парасковіївка,14,Артемівський район

Sometimes they wrongly put the name of regions in the second column. We fix it here

In [62]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['tername'] if ('область' in row['areaname_new'] or 'м.Київ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [65]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['areaname_new'].split('. ')[0] if ('. ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [73]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [68]:
for code in renam.dct_rename_area:
    for name in renam.dct_rename_area[code]:
        locations_region.loc[(locations_region.region_KOATUU == code) & (locations_region['areaname_new'] == name), 'areaname_new'] = renam.dct_rename_area[code][name]

In [70]:
for city in renam.dct_cities:
    code2020.loc[(code2020['local_KOATUU'] == '00000') & (code2020['name_KOATUU'].str.lower() == city), 'name_KOATUU'] = renam.dct_cities[city]

In [72]:
for ray in renam.kyiv_dict:
    locations_region.loc[(locations_region.regname == 'м.Київ') & (locations_region.areaname_new.str.lower() == ray), 'areaname_new'] = renam.kyiv_dict[ray]

In [74]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [75]:
locations_area = locations_region.merge(code2020[['area_KOATUU']], left_on=[locations_region['region_KOATUU'], locations_region['areaname_new'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
locations_area = locations_area.drop(columns = ['key_0', 'key_1'], axis=1)
locations_area.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223

# Matching tername

In [76]:
locations_area['tername_new'] = locations_area['tername']
locations_area['tername_new'] = locations_area['tername_new'].str.replace(r'\(.*\)', '', regex = True).str.strip()
locations_area['tername_new'] = locations_area['tername_new'].str.replace(' район міста','')
locations_area['tername_new']

0                с.Терпіння
1                м.Красилів
2               с.Дмитрівка
3            Шевченківський
4                  с.Кумарі
                ...
22587    с.Великий Браталів
22588          с.Влашанівка
22589           с.Коханівка
22590       с.Бастова Рудня
22591            м.Чернівці
Name: tername_new, Length: 22592, dtype: object