In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot

In [15]:
df_st_take_test = pd.read_csv('../tables_creation/final_tables/students_take_tests.csv', dtype={'KOATUU_2020_test_center': str})
# not na in year
df_st_take_test = df_st_take_test[df_st_take_test['year'].notna()]
df_st_take_test.head()

In [ ]:
df_location = pd.read_csv('../tables_creation/final_tables/locations.csv', dtype={'KOATUU_2020': str})
df_location.head()

  KOATUU_2020         KATOTTG_2023 category      region_name
0  2323085101  UA23080270010078454  village        Zaporizka
1  6822710100  UA68040210010032567     town      Khmelnytska
2  1223881501  UA12140170040016918  village  Dnipropetrovska
3  7310100000  UA73060610010033137     town     Chernivetska
4  4822383001  UA48080050190079797  village      Mykolaivska

In [ ]:
df_location_centers = df_location.rename(columns = {'KOATUU_2020':'KOATUU_2020_test_center', 'region_name':'region_name_test_center', 'KATOTTG_2023':'KATOTTG_2023_test_center', 'category':'category_test_center'})
df_location_centers

,KOATUU_2020_test_center,KATOTTG_2023_test_center,category_test_center,region_name_test_center
0,2323085101,UA23080270010078454,village,Zaporizka
1,6822710100,UA68040210010032567,town,Khmelnytska
2,1223881501,UA12140170040016918,village,Dnipropetrovska
3,7310100000,UA73060610010033137,town,Chernivetska
4,4822383001,UA48080050190079797,village,Mykolaivska
...,...,...,...,...
18485,0034010000,OC34010000000000000,abroad,Sweden
18486,0024020000,OC24020000000000000,abroad,Slovakia
18487,0018010000,OC18010000000000000,abroad,Netherlands
18488,0016010000,OC16010000000000000,abroad,Luxembourg
18489,0025010000,OC25010000000000000,abroad,Slovenia

In [ ]:
# join by KOATUU_2020
df_st_take_test = pd.merge(df_st_take_test, df_location_centers[['region_name_test_center','KOATUU_2020_test_center','KATOTTG_2023_test_center']], on='KATOTTG_2023_test_center', how='inner')[['outid','year', 'region_name_test_center', 'KOATUU_2020_test_center','KATOTTG_2023_test_center']]
df_st_take_test

,outid,year,region_name_test_center,KOATUU_2020_test_center,KATOTTG_2023_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,Odeska,5110137300,UA51100270010275193
1,0001B809-F52B-41A9-A3BA-19A6E45FA413,2017,Odeska,5110137300,UA51100270010275193
2,000392C7-3909-4F01-9649-965FAD28B2DA,2017,Odeska,5110137300,UA51100270010275193
3,0004d800-8bb3-4976-beb3-2cd267be6d2d,2016,Odeska,5110137300,UA51100270010275193
4,000b1230-0ea3-42f8-a4a6-9b6b8c0d4cb5,2020,Odeska,5110137300,UA51100270010275193
...,...,...,...,...,...
8260196,fb36bd04-228d-47d0-9602-1ef78df8f71b,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260197,fbc773ae-8ce4-4a18-b4eb-7d5e9b6f4c70,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260198,fd743653-b51e-43b1-92f7-03c7b88ee91a,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260199,fe85312c-b6a8-4c91-b0bb-4b7feed6b08f,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260200,ff7b0c2e-c5bf-4054-9951-85aa2367b9b9,2021,Dnipropetrovska,1224855300,UA12140110010072197

In [ ]:
# get onyl 2021 and 2022
df_st_take_test = df_st_take_test[df_st_take_test['year'].isin([2021,2022])]
df_st_take_test

,outid,year,region_name_test_center,KOATUU_2020_test_center,KATOTTG_2023_test_center
5,000d6437-30f9-4ae0-88c0-e118a94a6df2,2021,Odeska,5110137300,UA51100270010275193
12,002c3cee-961e-454f-896c-997aef9c599d,2022,Odeska,5110137300,UA51100270010275193
13,002cc299-62bf-46a2-b0a8-14c016e82793,2021,Odeska,5110137300,UA51100270010275193
20,00615872-a0ab-4242-a156-932fc01d56d4,2021,Odeska,5110137300,UA51100270010275193
26,0088f873-3171-492a-84ce-8496230eea2f,2022,Odeska,5110137300,UA51100270010275193
...,...,...,...,...,...
8260196,fb36bd04-228d-47d0-9602-1ef78df8f71b,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260197,fbc773ae-8ce4-4a18-b4eb-7d5e9b6f4c70,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260198,fd743653-b51e-43b1-92f7-03c7b88ee91a,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260199,fe85312c-b6a8-4c91-b0bb-4b7feed6b08f,2021,Dnipropetrovska,1224855300,UA12140110010072197
8260200,ff7b0c2e-c5bf-4054-9951-85aa2367b9b9,2021,Dnipropetrovska,1224855300,UA12140110010072197

In [ ]:
# if df_st_take_test KOATUU_2020 ends with 00000 it is district
# get only districts
df_st_take_test = df_st_take_test[df_st_take_test['KOATUU_2020_test_center'].str.endswith('00000')]
df_st_take_test

,outid,year,region_name_test_center,KOATUU_2020_test_center,KATOTTG_2023_test_center
50475,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,Zhytomyrska,1810700000,UA18060090010074365
50479,00243602-09da-42f8-95ef-26d66a0984bc,2022,Zhytomyrska,1810700000,UA18060090010074365
50487,0089457b-1ad0-42ba-a54e-6bdc57e111a0,2021,Zhytomyrska,1810700000,UA18060090010074365
50489,009d5e7b-12e2-48ee-a5d5-6100c3ace7df,2021,Zhytomyrska,1810700000,UA18060090010074365
50492,00aec22f-3d4c-4eb4-9212-a845c583eb23,2022,Zhytomyrska,1810700000,UA18060090010074365
...,...,...,...,...,...
8231613,fa3849ab-486a-445f-aee6-08fbe9adcf43,2022,Dnipropetrovska,1210200000,UA12040090010047409
8231614,fab781e5-5ab3-483a-989d-7a49ad4c4b10,2022,Dnipropetrovska,1210200000,UA12040090010047409
8231615,faeb9587-34ac-43b9-a216-7e48ecd128da,2022,Dnipropetrovska,1210200000,UA12040090010047409
8231616,fb0f8623-3237-43dd-b654-973150e213b5,2022,Dnipropetrovska,1210200000,UA12040090010047409
8231617,ff3c63bf-efe8-4c7f-a539-e1152ac1ff50,2022,Dnipropetrovska,1210200000,UA12040090010047409

In [ ]:

df_location_base = pd.read_csv('../tables_creation/final_tables/locations_base.csv', dtype={'KOATUU_2020': str})
# get only district
df_location_base = df_location_base[df_location_base['category'] == 'district']
df_location_base.head()

,KATOTTG_2023,KOATUU_2020,category,ukrainian_name,english_name
1,UA01020000000022387,0120400000,district,Бахчисарайський,Bakhchysaraiskyi
142,UA01040000000069938,0120700000,district,Білогірський,Bilohirskyi
319,UA01060000000028159,0121100000,district,Джанкойський,Dzhankoiskyi
463,UA01080000000090798,new district,district,Євпаторійський,NaN
622,UA01100000000047924,new district,district,Керченський,NaN

In [ ]:
# inner join by KATOTTG_2023
df_st_take_test = pd.merge(df_st_take_test, df_location_base[['KATOTTG_2023','ukrainian_name','english_name']], left_on = "KOATUU_2023_test_center", right_on='KATOTTG_2023', how='inner')[['outid','year', 'region_name_test_center','KATOTTG_2023_test_center', 'ukrainian_name', 'english_name']]
df_st_take_test

Empty DataFrame
Columns: [outid, year, region_name_test_center, KATOTTG_2023_test_center, ukrainian_name, english_name]
Index: []