In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
import numpy as np

In [15]:
df_students_take_tests = pd.read_csv("../tables_creation/final_tables/students_take_tests.csv")
df_students = pd.read_csv("../tables_creation/final_tables/students.csv")
df_location = pd.read_csv('../tables_creation/final_tables/locations.csv')

C:\Users\OleksandraKonopatska\AppData\Local\Temp\ipykernel_14424\3792803773.py:2: DtypeWarning: Columns (3,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_students = pd.read_csv("../tables_creation/final_tables/students.csv")

In [3]:
df_students_take_tests = df_students_take_tests.loc[(df_students_take_tests['test_subject'] == 'ukrtest') & (df_students_take_tests['year'] == 2022)]
df_students_take_tests

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center
15,000069ec-4f21-4e21-9dd9-58bc986d1a0e,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,OC32010000000000000,NaN
60,0001d1ae-b20d-4af4-8c2f-096b6b684d59,2022,NaN,NaN,NaN,Absent,ukrtest,NMT,OC05010000000000000,NaN
76,0002555a-75a4-4f79-bab3-bc03332fa4e2,2022,140.0,NaN,13.0,Accepted,ukrtest,NMT,UA05040030010071792,NaN
79,0002615a-0b62-4035-84e9-1b5fce3d88c2,2022,160.0,NaN,22.0,Accepted,ukrtest,NMT,UA68060330010023704,NaN
86,00029765-6a51-4b6f-b1e5-7ea0971ac057,2022,139.0,NaN,12.0,Accepted,ukrtest,NMT,UA35040210010286392,NaN
...,...,...,...,...,...,...,...,...,...,...
2456974,fffdb046-06c3-468e-8c45-c4172b51b4e7,2022,163.0,NaN,23.0,Accepted,ukrtest,NMT,UA80000000000551439,NaN
2456980,fffddeae-d36a-4b44-a298-9ca6b3d283fe,2022,180.0,NaN,29.0,Accepted,ukrtest,NMT,UA46120130010071117,NaN
2457013,ffff021b-0fe2-4bcc-a908-99d72aab913d,2022,166.0,NaN,24.0,Accepted,ukrtest,NMT,OC21070000000000000,NaN
2457015,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,UA32080090010037585,NaN
2457043,ffffeb30-6810-4054-b0b3-04c13a450c85,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,UA18080150010017476,NaN

In [4]:
df_merged = df_students_take_tests.merge(df_students, how='left', on='outid')
df_merged = df_merged.loc[df_merged['status'] == 'A graduate of an Ukrainian school of the current year']
df_merged = df_merged.loc[:, ['outid', 'test_status', 'status', 'KATOTTG_2023_test_center', 'KATOTTG_2023']]
df_merged

,outid,test_status,status,KATOTTG_2023_test_center,KATOTTG_2023
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,A graduate of an Ukrainian school of the curre...,OC32010000000000000,UA12040010010084655
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,A graduate of an Ukrainian school of the curre...,OC05010000000000000,UA80000000001078669
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,A graduate of an Ukrainian school of the curre...,UA05040030010071792,UA05040250120041232
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,A graduate of an Ukrainian school of the curre...,UA68060330010023704,UA68060330010023704
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,A graduate of an Ukrainian school of the curre...,UA35040210010286392,UA35060230010026884
...,...,...,...,...,...
234094,fffc1b98-43bc-4cea-b827-4fb671337b3e,Accepted,A graduate of an Ukrainian school of the curre...,UA05120090010077573,UA05120010010016373
234096,fffc67e5-0cdd-47bf-99ea-5b0a367b779d,Accepted,A graduate of an Ukrainian school of the curre...,UA46060250010615203,UA46060250010615203
234099,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,A graduate of an Ukrainian school of the curre...,UA80000000000551439,UA80000000000551439
234100,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,A graduate of an Ukrainian school of the curre...,UA46120130010071117,UA46120110010087965
234101,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,A graduate of an Ukrainian school of the curre...,OC21070000000000000,UA05060090040084723

In [5]:
df_merged = df_merged.merge(df_location, how='left', on='KATOTTG_2023')
df_merged.rename(columns={'region_name': 'region_student'}, inplace=True)
df_merged = df_merged.merge(df_location, how='left', left_on='KATOTTG_2023_test_center', right_on='KATOTTG_2023')
df_merged.rename(columns={'region_name': 'region_test_center'}, inplace=True)
df_merged = df_merged.loc[:, ['outid', 'test_status', 'region_student', 'category_y', 'region_test_center']]

In [6]:
df_merged

,outid,test_status,region_student,category_y,region_test_center
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska
...,...,...,...,...,...
166233,fffc1b98-43bc-4cea-b827-4fb671337b3e,Accepted,Vinnytska,town,Vinnytska
166234,fffc67e5-0cdd-47bf-99ea-5b0a367b779d,Accepted,Lvivska,city,Lvivska
166235,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv
166236,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska
166237,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland

In [7]:
df_merged['is_migrated'] = (df_merged['region_student'] != df_merged['region_test_center'])

In [8]:
df_merged

,outid,test_status,region_student,category_y,region_test_center,is_migrated
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia,True
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia,True
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska,False
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska,False
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska,False
...,...,...,...,...,...,...
166233,fffc1b98-43bc-4cea-b827-4fb671337b3e,Accepted,Vinnytska,town,Vinnytska,False
166234,fffc67e5-0cdd-47bf-99ea-5b0a367b779d,Accepted,Lvivska,city,Lvivska,False
166235,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv,False
166236,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska,False
166237,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland,True

In [9]:
# frontline_regions_saved = ['Dnipropetrovska', 'Donetska', 'Zaporizka', 'Luhanska', 'Mykolaivska', 'Odeska', 'Sumska', 'Kharkivska', 'Khersonska']
frontline_regions_gov = ['Donetska', 'Luhanska', 'Zaporizka', 'Mykolaivska', 'Sumska', 'Kharkivska', 'Khersonska', 'Chernihivska']
eu_border_regions = ['Volynska', 'Lvivska', 'Zakarpatska', 'Ivano-Frankivska', 'Chernivetska', 'Vinnytska', 'Odeska']

In [10]:
# df_merged['frontline_saved'] = df_merged['region_student'].isin(frontline_regions_saved)
df_merged['frontline_gov'] = df_merged['region_student'].isin(frontline_regions_gov)
df_merged['eu_border'] = df_merged['region_student'].isin(eu_border_regions)

In [11]:
df_merged

,outid,test_status,region_student,category_y,region_test_center,is_migrated,frontline_gov,eu_border
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia,True,False,False
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia,True,False,False
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska,False,False,True
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska,False,False,False
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska,False,False,False
...,...,...,...,...,...,...,...,...
166233,fffc1b98-43bc-4cea-b827-4fb671337b3e,Accepted,Vinnytska,town,Vinnytska,False,False,True
166234,fffc67e5-0cdd-47bf-99ea-5b0a367b779d,Accepted,Lvivska,city,Lvivska,False,False,True
166235,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv,False,False,False
166236,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska,False,False,True
166237,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland,True,False,True

In [12]:
df_merged[(df_merged['is_migrated']) & (df_merged['category_y'] == 'abroad')].shape[0]

23243

In [13]:
df_merged[(df_merged['is_migrated']) & (df_merged['category_y'] == 'abroad')].shape[0] / df_merged.shape[0]

0.13981761089522252

In [30]:
df_merged[(df_merged['is_migrated']) & (df_merged['category_y'] == 'abroad')].region_test_center.value_counts(normalize=True)

region_test_center
Poland                      0.306630
Germany                     0.268597
Czechia                     0.082735
Italy                       0.035107
Austia                      0.031063
France                      0.027621
United Kingdom              0.027406
Slovakia                    0.022415
Spain                       0.022372
Bulgaria                    0.020092
Lithuania                   0.018156
Netherlands                 0.017855
Belgium                     0.014628
Ireland                     0.012735
Estonia                     0.011100
Latvia                      0.009078
Sweden                      0.008949
Romania                     0.008949
Denmark                     0.008433
Moldova                     0.007658
Hungary                     0.007013
Portugal                    0.006626
Switzerland                 0.005034
Croatia                     0.004474
Finland                     0.003227
United States of America    0.003098
Georgia                     0.002409
Turkey                      0.002280
Canada                      0.001377
Greece                      0.001033
Luxembourg                  0.000947
Slovenia                    0.000903
Name: proportion, dtype: float64

In [36]:
df_merged.loc[(df_merged['region_student'] == 'Dnipropetrovska') & (df_merged['is_migrated'])].shape[0] / df_merged.loc[df_merged['region_student'] == 'Dnipropetrovska'].shape[0]

0.1865327739184263

In [38]:
regions_migration = {}

for region in df_merged.region_student.unique():
    regions_migration[region] = df_merged.loc[(df_merged['region_student'] == region) & (df_merged['is_migrated'])].shape[0] / df_merged.loc[df_merged['region_student'] == region].shape[0]

In [41]:
dict(sorted(regions_migration.items(), key=lambda item: item[1], reverse=True))

{'Khersonska': 1.0,
 'Donetska': 1.0,
 'Luhanska': 1.0,
 'Kharkivska': 0.5154610712313639,
 'Mykolaivska': 0.4100490196078431,
 'Zaporizka': 0.3531746031746032,
 'Kyiv': 0.3229632389468455,
 'Dnipropetrovska': 0.1865327739184263,
 'Odeska': 0.17543859649122806,
 'Sumska': 0.17086029235561945,
 'Kyivska': 0.166739177724603,
 'Chernihivska': 0.13132190145430866,
 'Zhytomyrska': 0.11308089500860585,
 'Poltavska': 0.09716599190283401,
 'Cherkaska': 0.09004834810636583,
 'Vinnytska': 0.0859882005899705,
 'Kirovohradska': 0.0831031885513432,
 'Rivnenska': 0.08208955223880597,
 'Ivano-Frankivska': 0.08107213765718067,
 'Ternopilska': 0.07817889169924121,
 'Chernivetska': 0.07177033492822966,
 'Volynska': 0.06830215319449347,
 'Lvivska': 0.06386371873867343,
 'Khmelnytska': 0.0637123745819398,
 'Zakarpatska': 0.05872024970737417}

In [62]:
df_merged[(df_merged['frontline_gov'] & df_merged['is_migrated'])].shape[0] / df_merged[df_merged['frontline_gov']].shape[0]

0.4608119337643649

In [67]:
df_merged[(df_merged['eu_border'] & df_merged['is_migrated'])].region_test_center.value_counts(normalize=True)

region_test_center
Poland                      0.216621
Germany                     0.175795
Czechia                     0.082086
Italy                       0.037193
United Kingdom              0.030510
Austia                      0.025861
Bulgaria                    0.025570
Kyiv                        0.025570
Lvivska                     0.021357
Khmelnytska                 0.020195
Moldova                     0.020049
Ivano-Frankivska            0.019323
Romania                     0.019323
France                      0.018015
Ternopilska                 0.017870
Spain                       0.017144
Zhytomyrska                 0.015546
Rivnenska                   0.014529
Zakarpatska                 0.014093
Kyivska                     0.012785
Slovakia                    0.012349
Netherlands                 0.012204
Ireland                     0.011623
Belgium                     0.010315
Hungary                     0.010315
Vinnytska                   0.009298
Volynska                    0.008717
Lithuania                   0.007555
Chernivetska                0.007264
Sweden                      0.006828
Dnipropetrovska             0.006828
Mykolaivska                 0.006538
Cherkaska                   0.006247
Portugal                    0.005957
Kirovohradska               0.005521
Odeska                      0.005376
Estonia                     0.005085
Latvia                      0.004068
Denmark                     0.003632
United States of America    0.003196
Sumska                      0.002470
Finland                     0.002179
Chernihivska                0.002179
Poltavska                   0.001889
Croatia                     0.001889
Kharkivska                  0.001889
Canada                      0.001743
Turkey                      0.001743
Switzerland                 0.001598
Zaporizka                   0.001162
Slovenia                    0.000872
Georgia                     0.000726
Greece                      0.000726
Luxembourg                  0.000581
Name: proportion, dtype: float64

In [16]:
# math failing rate

df_students_take_tests = df_students_take_tests.loc[(df_students_take_tests['test_subject'] == 'mathtest')]
df_students_take_tests

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center
4256986,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,mathtest,EIE,UA18060090010074365,22050043.0
4256987,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,181.0,11.0,NaN,Accepted,mathtest,EIE,UA63120270010948820,2071197.0
4256988,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,172.0,9.0,42.0,Accepted,mathtest,EIE,UA46100230010074173,2545471.0
4256989,0000333c-efa3-42a7-9f45-e77b53346d57,2020,117.0,5.0,14.0,Accepted,mathtest,EIE,UA14120090010038661,25704570.0
4256990,00004713-8ed1-4ffa-a082-b6b3acf03b67,2020,103.0,4.0,10.0,Accepted,mathtest,EIE,UA46060250010515336,25245257.0
...,...,...,...,...,...,...,...,...,...,...
5911808,ffffbfa2-b0c2-4807-9eff-eb62e1b7a2d0,2016,NaN,NaN,NaN,Absent,mathtest,EIE,UA51100270010275193,25428236.0
5911809,ffffd2df-1305-4c2d-9f19-c81863e41968,2016,NaN,NaN,NaN,Not registered for the main session,mathtest,EIE,NaN,NaN
5911810,ffffeb30-6810-4054-b0b3-04c13a450c85,2022,128.0,NaN,5.0,Accepted,mathtest,NMT,UA18080150010017476,NaN
5911811,ffffeeb2-7258-4465-bca3-88dd19902340,2019,180.0,10.0,46.0,Accepted,mathtest,EIE,UA12020010010639502,26508368.0
5911812,fffff7dc-0331-41bb-aa5e-e51024ac605e,2021,0.0,3.0,9.0,Failed,mathtest,EIE,UA07080170010083384,26414029.0

In [17]:
df_students_take_tests.outid.unique().shape

(1654827,)

In [18]:
df_merged = df_students_take_tests.merge(df_students, how='left', on='outid')
df_merged = df_merged.loc[df_merged['status'] == 'A graduate of an Ukrainian school of the current year']
df_merged = df_merged.loc[:, ['outid', 'test_status', 'status', 'year_x']]
df_merged

,outid,test_status,status,year_x
0,00000dce-36de-4d58-9dc2-7ffc824f597a,Absent,A graduate of an Ukrainian school of the curre...,2021
1,0000268f-9fdd-49b2-9ee2-422778c9c4f1,Accepted,A graduate of an Ukrainian school of the curre...,2016
2,0000324e-f525-49c4-a963-8df0cc02d6d5,Accepted,A graduate of an Ukrainian school of the curre...,2018
5,000051f8-9476-49b5-83c2-4797a201b706,Accepted,A graduate of an Ukrainian school of the curre...,2021
7,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,A graduate of an Ukrainian school of the curre...,2022
...,...,...,...,...
1654818,ffff6f3c-08bd-4204-aae2-3260fd5ca334,Accepted,A graduate of an Ukrainian school of the curre...,2021
1654819,ffff778c-a380-4885-b293-94b1b4877945,Accepted,A graduate of an Ukrainian school of the curre...,2021
1654820,ffff8e58-5322-4b21-a385-d1fee504c2a8,Accepted,A graduate of an Ukrainian school of the curre...,2021
1654821,ffffb2e5-b2a1-4f51-871b-d281c20e72e8,Accepted,A graduate of an Ukrainian school of the curre...,2019
1654825,ffffeeb2-7258-4465-bca3-88dd19902340,Accepted,A graduate of an Ukrainian school of the curre...,2019

In [21]:
df_merged = df_merged.loc[df_merged['test_status'].isin(['Accepted', 'Failed', 'Canceled'])]

In [27]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2016)].shape[0] / df_merged.loc[df_merged['year_x'] == 2016].shape[0]

0.12755332703135916

In [28]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2017)].shape[0] / df_merged.loc[df_merged['year_x'] == 2017].shape[0]

0.14130110579631697

In [29]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2018)].shape[0] / df_merged.loc[df_merged['year_x'] == 2018].shape[0]

0.15069346164732522

In [30]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2019)].shape[0] / df_merged.loc[df_merged['year_x'] == 2019].shape[0]

0.11147621533642478

In [31]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2020)].shape[0] / df_merged.loc[df_merged['year_x'] == 2020].shape[0]

0.09209649350168475

In [32]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2021)].shape[0] / df_merged.loc[df_merged['year_x'] == 2021].shape[0]

0.24761811517491633

In [35]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2022)].shape[0] / df_merged.loc[df_merged['year_x'] == 2022].shape[0]

0.0010104455614408825

In [36]:
df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == 2023)].shape[0] / df_merged.loc[df_merged['year_x'] == 2023].shape[0]

0.03621483961427304

In [51]:
years = list(df_merged['year_x'].unique())
years.sort()
years

[2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [52]:
failure_rates = []

for year in years:
    failure_rates.append(df_merged.loc[(df_merged['test_status'].isin(['Failed', 'Canceled'])) & (df_merged['year_x'] == year)].shape[0] / df_merged.loc[df_merged['year_x'] == year].shape[0])

In [54]:
df_failure_rates = pd.DataFrame({'year': years, 'failure rate': failure_rates})
df_failure_rates

   year  failure rate
0  2016      0.127553
1  2017      0.141301
2  2018      0.150693
3  2019      0.111476
4  2020      0.092096
5  2021      0.247618
6  2022      0.001010
7  2023      0.036215